*{
  font-family: monospace !important;
}
.App-header {
  background-color: #282c34;
  /* background: url(https://media.tenor.com/3zb7e2Hb9f4AAAAC/galaxy-stars.gif); */
  min-height: 100vh;
 
  font-size: calc(10px + 2vmin);
  color: white;
  
}

